<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.impl.AdminDaoImpl">

    <sql id="admin">admin</sql>
    <insert id="insert" parameterType="Admin" keyProperty="id"  useGeneratedKeys="true">
        INSERT INTO <include refid="admin"/> (account,password,permission,status) values(#{account},#{password},#{permission},#{status})
    </insert>

    <select id="getBy" parameterType="Admin" resultType="Admin">
        SELECT id,account,password,permission FROM <include refid="admin"/> s WHERE s.status != 9
        <if test="id != null|| id=''">and s.id = #{id}</if>
        <if test="account != null|| account=''">and s.account = #{account}</if>
        <if test="password != null|| password=''">and s.password = #{password}</if>
        <if test="permission != null|| permission=''">and s.permission = #{permission}</if>
        <if test="status != null|| status=''">and s.status = #{status}</if>
    </select>


    <update id="update" parameterType="Admin">
        UPDATE <include refid="admin"/> s SET status = 1
        <if test="account != null|| account=''">,s.account = #{account}</if>
        <if test="password != null|| password=''">,s.password = #{password}</if>
        <if test="permission != null|| permission=''">,s.permission = #{permission}</if>
        WHERE status != 9 and s.id = #{id}
    </update>
</mapper>