<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.impl.CartDaoImpl">

    <sql id="cart">cart</sql>

    <insert id="insert" parameterType="Cart" keyProperty="id"  useGeneratedKeys="true">
        INSERT INTO <include refid="cart"/> (mid,dishes,price,quantity,orderid,status) values(#{mid},#{dishes},#{price},#{quantity},#{orderid},#{status})
    </insert>

    <select id="getBy" parameterType="Cart" resultType="Cart">
        SELECT id,mid,dishes,price,quantity,orderid,status,DATE_FORMAT(createtime,"%Y-%m-%d %H:%m") as createtime FROM <include refid="cart"/> s WHERE s.status != 9
        <if test="id != null|| id=''">and s.id = #{id}</if>
        <if test="mid != null|| mid=''">and s.mid = #{mid}</if>
        <if test="dishes != null|| dishes=''">and s.dishes = #{dishes}</if>
        <if test="price != null|| price=''">and s.price = #{price}</if>
        <if test="quantity != null|| quantity=''">and s.quantity = #{quantity}</if>
        <if test="orderid != null|| orderid=''">and s.orderid = #{orderid}</if>
    </select>

    <select id="getListBy" parameterType="Cart" resultType="Cart">
        SELECT id,mid,dishes,price,quantity,orderid,status,DATE_FORMAT(createtime,"%Y-%m-%d %H:%m") as createtime FROM <include refid="cart"/> s WHERE s.status != 9
        <if test="dishes != null|| dishes=''">and s.dishes = #{dishes}</if>
        <if test="price != null|| price=''">and s.price = #{price}</if>
        <if test="quantity != null|| quantity=''">and s.quantity = #{quantity}</if>
        <if test="orderid != null|| orderid=''">and s.orderid = #{orderid}</if>
    </select>



    <update id="update" parameterType="Cart">
        UPDATE <include refid="cart"/> s SET status=1
        <if test="mid != null|| mid=''">,s.mid = #{mid}</if>
        <if test="dishes != null|| dishes=''">,s.dishes = #{dishes}</if>
        <if test="price != null|| price=''">,s.price = #{price}</if>
        <if test="quantity != null|| quantity=''">,s.quantity = #{quantity}</if>
        <!--<if test="orderid != null|| orderid=''">,s.orderid = #{orderid}</if>-->
        <if test="status != null|| status=''">,s.status = #{status}</if>
        WHERE status != 9 and s.id = #{id}
    </update>

</mapper>