<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.impl.CustomerDaoImpl">

    <sql id="customer">customer</sql>
    <insert id="insert" parameterType="Customer" keyProperty="id"  useGeneratedKeys="true">
        INSERT INTO <include refid="customer"/> (wxaccount,createtime,status) values(#{wxaccount},#{createtime},#{status})
    </insert>

    <select id="getBy" parameterType="Customer" resultType="Customer">
        SELECT * FROM <include refid="customer"/> s WHERE s.status != 9
        <if test="id != null and id=''"> and s.id = #{id}</if>
        <if test="wxaccount != null and wxaccount=''"> and s.wxaccount = #{wxaccount}</if>
    </select>

    <select id="getListBy" parameterType="Customer" resultType="Customer">
        SELECT * FROM <include refid="customer"/> s WHERE s.status != 9
        <if test="wxaccount != null and wxaccount=''"> and s.wxaccount = #{wxaccount}</if>
    </select>
</mapper>