<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.impl.HotelDaoImpl">

    <sql id="hotel">hotel</sql>

    <insert id="insert" parameterType="Hotel" keyProperty="id"  useGeneratedKeys="true">
        INSERT INTO <include refid="hotel"/> (name,address,createtime,status) values(#{name},#{address},#{createtime},#{status})
    </insert>

    <select id="getBy" parameterType="java.util.HashMap" resultType="Hotel">
        SELECT * FROM <include refid="hotel"/> s WHERE s.status != 9
        <if test="id != null and id !=''"> and s.id = #{id}</if>
    </select>

    <update id="update" parameterType="Hotel">
        UPDATE <include refid="hotel"/> h SET status = 1
        <if test="name != null and name!=''">,h.name = #{name}</if>
        <if test="address != null and address!=''">,h.address = #{address}</if>
        <if test="pic != null and pic!=''">,h.pic = #{pic}</if>
        <if test="phone != null and phone!=''">,h.phone = #{phone}</if>
        <if test="info != null and info!=''">,h.info = #{info}</if>
        <if test="time != null and phone!=''">,h.time = #{time}</if>
        <if test="status!=null and status!=''">,h.status = #{status}</if>
        WHERE status != 9 and h.id = #{id}
    </update>
</mapper>