<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.impl.MenuDaoImpl">

    <sql id="menu">menu</sql>
    <sql id="type">type</sql>

    <insert id="insert" parameterType="Menu" keyProperty="id"  useGeneratedKeys="true">
        INSERT INTO <include refid="menu"/> (dishes,price,picture,typeid) values(#{dishes},#{price},#{picture},#{typeId})
    </insert>

    <update id="update" parameterType="Menu">
        update <include refid="menu" />  set status=1
        <if test="dishes != null and dishes!=''">,dishes=#{dishes}</if>
        <if test="price != null and price!=''">,price=#{price}</if>
        <if test="picture != null and picture!=''">,picture=#{picture}</if>
        <if test="typeId != null and typeId!=''">,typeid=#{typeId}</if>
        <if test="status != null and status!=''">,status=#{status}</if>
        where status!=9 and id=#{id}
    </update>

    <select id="getBy" parameterType="Menu" resultType="Menu">
        SELECT id,dishes,price,picture,typeid as typeId,hid,status,DATE_FORMAT(createtime,"%Y-%m-%d %H:%m") as createtime FROM <include refid="menu"/> s WHERE s.status!=9
        <if test="dishes!=null and dishes!=''">and s.dishes like CONCAT(CONCAT('%', #{dishes}), '%')</if>
        <if test="typeId!=null and typeId!=''">and s.typeid=#{typeId}</if>

    </select>

    <select id="getById" parameterType="long" resultType="Menu">
        SELECT m.id,m.dishes,m.price,m.picture,m.typeid as typeId,m.hid,m.status,DATE_FORMAT(m.createtime,"%Y-%m-%d %H:%m") as createtime,t.typename as typeName
        FROM <include refid="menu"/> m, <include refid="type"/> t WHERE m.status!=9 and t.id = m.typeid and m.id = #{id}
    </select>


    <select id="getListBy" parameterType="Menu" resultType="Menu">
        SELECT m.id,m.dishes,m.price,m.picture,m.typeid as typeId ,m.hid,m.status,DATE_FORMAT(m.createtime,"%Y-%m-%d %H:%m") as createtime,t.typename as typeName
        FROM <include refid="menu"/> m, <include refid="type"/> t WHERE m.status!=9 and t.id = m.typeid
        <if test="typeId!=null and typeId!=''">and m.typeid=#{typeId}</if>
        <if test="typeName!=null and typeName!=''">and t.typename=#{typeName}</if>
        <if test="dishes!=null and dishes!=''">and m.dishes like CONCAT(CONCAT('%', #{dishes}), '%')</if>
        <if test="status!=null and status!=''">and m.status = #{status}</if>
    </select>

</mapper>