<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.impl.OrderDaoImpl">

    <sql id="orders">orders</sql>

    <insert id="insert" parameterType="Order" keyProperty="id"  useGeneratedKeys="true">
        INSERT INTO <include refid="orders"/> (wxaccount,tablenumber,money) values(#{wxaccount},#{tablenumber},#{money})
    </insert>

    <update id="update" parameterType="Order" keyProperty="id"  useGeneratedKeys="true">
        update <include refid="orders" /> s set s.status=1
        <if test="wxaccount!=null  and wxaccount!=''">,s.wxaccount=#{wxaccount}</if>
        <if test="tablenumber!=null  and tablenumber!=''">,s.tablenumber=#{tablenumber}</if>
        <if test="money!=null  and money!=''">,s.money=#{money}</if>
        <if test="status!=null  and status!=''">,s.status=#{status}</if>
        where s.status!=9 and s.id=#{id}
    </update>


    <select id="getBy" parameterType="long" resultType="Order">
        SELECT id,wxaccount,tablenumber,money,status,DATE_FORMAT(createtime,"%Y-%m-%d %H:%m") as createtime FROM <include refid="orders"/> o WHERE o.status!=9
        <if test="tablenumber!=null  and tablenumber!=''">and o.tablenumber=#{tablenumber}</if>
        <if test="createtime!=null  and createtime!=''">and o.createtime=#{createtime}</if>
        <if test="status!=null  and status!=''">and o.status=#{status}</if>

    </select>

    <!-- 每日账单查询 -->
    <select id="getListBy" parameterType="Order" resultType="Order">
        SELECT id,wxaccount,tablenumber,money,status,DATE_FORMAT(createtime,"%Y-%m-%d %H:%m") as createtime FROM <include refid="orders"/> o WHERE o.status!=9
        and date(o.createtime)= curdate()
        <if test="tablenumber!=null  and tablenumber!=''">and o.tablenumber = #{tablenumber}</if>
        <if test="wxaccount!=null  and wxaccount!=''">and o.wxaccount = #{wxaccount}</if>

    </select>

</mapper>