<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.impl.TypeDaoImpl">

    <sql id="QRcode">QRcode</sql>

    <insert id="insert" parameterType="com.entity.QRcode" keyProperty="id"  useGeneratedKeys="true">
        INSERT INTO <include refid="QRcode"/> (tablenumber,status) values(#{tablenumber},#{status})
    </insert>

    <update id="update" parameterType="com.entity.QRcode" keyProperty="id"  useGeneratedKeys="true">
        update <include refid="QRcode" /> s set s.status=1
        <if test="tablenumber!=null || tablenumber!=''">,s.tablenumber=#{tablenumber}</if>
        <if test="status!=null || status!=''">,s.status=#{status}</if>
        where s.status!=9 and s.id=#{id}
    </update>

    <select id="getBy" parameterType="long" resultType="com.entity.QRcode">
        SELECT * FROM <include refid="QRcode"/> s WHERE s.status!=9
        <if test="tablenumber!=null || tablenumber!=''">and s.tablenumber=#{tablenumber}</if>
        <if test="createtime!=null || createtime!=''">and s.createtime=#{createtime}</if>
        <if test="status!=null || status!=''">and s.status=#{status}</if>
    </select>

    <select id="getListBy" parameterType="com.entity.QRcode" resultType="com.entity.QRcode">
        SELECT * FROM <include refid="QRcode"/> s WHERE s.status!=9
        <if test="tablenumber!=null || tablenumber!=''">and s.tablenumber=#{tablenumber}</if>
        <if test="createtime!=null || createtime!=''">and s.createtime=#{createtime}</if>
        <if test="status!=null || status!=''">and s.status=#{status}</if>
    </select>

</mapper>