<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.impl.TypeDaoImpl">

    <sql id="type">type</sql>

    <insert id="insert" parameterType="Type" keyProperty="id"  useGeneratedKeys="true">
        INSERT INTO <include refid="type"/> (typename) values(#{typeName})
    </insert>

    <update id="update" parameterType="Type">
        update <include refid="type" /> set status = 1
         <if test="typeName != null  and typeName !=''">,typename=#{typeName}</if>
         <if test="status != null  and status !=''">,status = #{status}</if>
         WHERE status != 9 and id=#{id}
    </update>

    <select id="getBy" parameterType="Type" resultType="Type">
        SELECT * FROM <include refid="type"/> t WHERE t.status != 9
        <if test="typeName != null  and typeName!=''">and t.typename=#{typeName}</if>
    </select>

    <select id="getList" parameterType="Type" resultType="Type">
        SELECT * FROM <include refid="type"/> t WHERE t.status != 9
    </select>

</mapper>